.mainContainer {
  display: grid;
  gap: 1px 1px;
  grid-template-columns: 1fr 2.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.3fr 1.2fr;
  grid-template-areas:
    "Header Header Header Header"
    "Journal Journal Garden Garden"
    "Journal Journal Friends Friends";
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: 485px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "Header"
      "Garden"
      "Friends"
      "Journal";
    gap: 30px;
  }
}

.header {
  grid-area: Header;
  text-align: center;
  display: grid;

  @media (max-width: 485px) {
    width: 8vw;
  }
}

.journal {
  grid-area: Journal;
  text-align: center;
}

.notesStyle {
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.garden {
  grid-area: Garden;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.friends {
  grid-area: Friends;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.plants {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
  grid-template-rows: 1fr 1fr;
  height: 40vh;
  align-self: center;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}

.users {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
  grid-template-rows: 1fr 1fr;
  height: 20vh;
  align-self: center;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}
