.noteContainer {
  background-color: rgb(127, 210, 145);
  border: 1px solid rgb(14, 52, 22);
  border-radius: 16px;
  font-family: 'Abhaya Libre', serif;
  text-align: left;
  padding: 1% 2%;
  margin: 1% 2%;
};

.mainText {
  font-size: 1rem;
  margin-bottom: 0.5em;
};

.signText {
  font-size: 0.7rem;
};
