.wrapper {
  @media (max-width: 990px) {
    margin-top: 5vh
  }
}

.addNote {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 4em 4em 12em 4em;
  grid-template-areas:
    "text text"
    "title tick"
    "note save"
    "additional save";
  margin: 2em 1em 2em 1em;
  justify-items: center;
  align-items: center;
  border: 1px solid black;

  @media (max-width: 990px) {
    grid-template-columns: 90vw;
    grid-template-rows: 10vh 10vh 25vh 5vh 20vh 10vh;
    grid-template-areas:
      "text"
      "title"
      "note"
      "tick"
      "additional"
      "save";
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
  }
}

.text {
  grid-area: text;
}
.title {
  grid-area: title;
  width: 98%;
  align-self: center;
  justify-self: center;
}

.notes {
  grid-area: note;
  width: 98%;
}

.tick {
  grid-area: tick;
}

.save {
  grid-area: save;
}

.additional {
  grid-area: additional;
  width: 96%;
  display: grid;
  grid-template-columns: 6fr 4fr;

  @media (max-width: 990px) {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
}

.adding {
  width: 98%;
  margin-right: 1em;
}

.select {
  width: 98%;
  margin-right: 1em;
}
