.link {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  font-size: 1.5em;
  color: rgb(14, 52, 22);
  font-family: 'Abhaya Libre', serif;
  border: none;
  cursor: pointer;
  letter-spacing: 0.08em;
  outline: none;
}
