.input {
  color: #0e3416;
  border: 2px solid #0e3416;
  border-radius: 8px;
  height: 40px;
  font-size: 1.125rem;
  cursor: text;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 1.5px;
  width: 100%;

  &:focus {
    outline: none;
  }
}
