.wrapper {
  background-color: #7fd291;
  padding: 2em;
  margin: 1em 2.5em;
}

.chat {
  border: 2px solid #000;
  background-color: #0df46a;
  font-family: 'Abhaya Libre', serif;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  height: 75vh;
}

.canals {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1.3rem;
  width: 100%;
  position: sticky;
  top: 0;
}

.canal {
  width: 100%;
}

.unlogged, .logged {
  background-color: #0df46a;
  text-align: center;
  font-size: 1.3rem;
  position: sticky;
  bottom: 0;
  padding: 0.5em 0;
  scroll-snap-align: end;
}
