.img {
  height: 600px;
  width: 500px;

  @media (max-width: 1400px) {
    height: 500px;
    width: 400px;
  }

  @media (max-width: 823px) {
    height: 300px;
    width: 250px;
  }

  @media (max-width: 700px) and (orientation: landscape) {
    height: 200px;
    width: 150px;
  }

  @media (max-width: 450px) {
    height: 200px;
    width: 150px;
  }
}
