.calendar {
  width: 90%;
  margin: 0 auto;
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 0.08em;
  text-align: center;
  color: #0e3416;

  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;

    .daysOfWeek {
      flex-basis: 130px;
      line-height: 40px;
      font-size: 1.2rem;
    }

    .daysOfMonth {
      flex-basis: 130px;
      height: 130px;
      margin-bottom: 20px;
      background-color: #e1f3e4;
      border: 1px solid #0e3416;
      border-radius: 20px;
      font-size: 1.3rem;
    }

    .disabled {
      background-color: white;
      border-radius: 20px;
      color: #0e3416;
    }

    .selected {
      background-color: yellow;
    }

    .today {
      border: 4px solid #0e3416;
    }
  }
}
