.register {
  align-content: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.6em;
  justify-content: center;
  text-align: center;
}

.input {
  background-color: transparent;
  text-align: center;
  width: 350px;
  font-size: 1.2em;
  font-family: 'Pompiere', 'serif';
  letter-spacing: 0.08em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: 3px solid;
  border-bottom-color: #0e3416;
  margin-bottom: 0.8em;
  padding-bottom: 0.25em;

  &:focus {
    outline: none;
  }
}

.buttons {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  margin: 2px;
  width: 5.5em;
  height: 1.5em;
  align-content: center;
  background-color: white;
  font-family: 'Abhaya Libre', serif;
  font-size: 1.2em;
  letter-spacing: 0.08rem;
  border: 1px solid black;
  border-radius: 5px;
  color: #0e3416;

  &:hover {
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 1em #9f9;
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    box-shadow: 0 0 1em #9f9;
  }
}

.error {
  margin: -0.6em 0 0.7em;
  color: red;
  font-family: 'Abhaya Libre', serif;
  font-size: 0.8em;
  letter-spacing: 0.08rem;
}
