.wrapper {
  padding: 1em 1.5em;
  border: 2px solid #000;
  background-color: #7fd291;
  color: rgb(14, 52, 22);
  font-family: 'Abhaya Libre', serif;
}

.header {
  font-size: 1.5rem;
}

.unlogged {
  margin: 0.5em 0;
  text-align: center;
  font-size: 1.5rem;
}

.button {
  text-align: right;
  padding-right: 0.8rem;
}

.logged {
  background-color: #0df46a;
  text-align: center;
  font-size: 1.3rem;
  position: sticky;
  bottom: 0;
  padding: 0.6rem 0;
  scroll-snap-align: end;
}
