.authors {
  align-content: center;
  color: #000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.6em;
  justify-content: center;
  line-height: 1.8em;
  text-align: center;
}

.link {
  color: #000;
  text-decoration: none;
}

.mentor {
  padding-top: 2rem;
}
