.container {
  margin: auto;
}

.title {
  font-family: 'Abhaya Libre', serif;
  font-weight: 200;
  margin-bottom: 1.5em;
}

.basicInfo {
  width: 90%;
  margin: 1px auto;
  padding-bottom: 1em;
  text-align: center;
}

.detailedInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1033px;
  margin: 0 auto;

  > * {
    flex-basis: calc(20% - 20px);
    margin: 5px 10px;
  }
}

.addPicture {
  width: 90%;
  margin: auto;
  height: 100px;
}

.input {
  text-align: center;
  margin: 10px;
}

.select {
  width: 100%;
  margin: 10px;
}

.button {
  text-align: center;
  margin: auto;
  padding: 30px;
}

.plantPicture {
  float: left;
  margin: auto;
}

.removePicture {
  float: left;
  padding: 30px;
  position: relative;
}

.addBtn {
  margin: auto;
  padding: 20px;
}

.submit {
  width: 90%;
  margin-top: 1em;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.submitButton {
  padding: 50% 0;
}
