.title {
  font-family: 'Abhaya Libre', serif;
  font-weight: 200;
  margin-bottom: 2em;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem 10rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
}

.basicInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > * {
    text-align: center;
    font-family: 'Pompiere', 'serif';
    font-size: 1.5em;
  }
}

.detailedInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;

  > * {
    flex-basis: calc(20% - 20px);
    margin: 10px 30px;
  }
}

.submitBtn {
  text-align: center;
}
