.container {
  margin: auto;
  position: relative;
}

.title {
  font-family: 'Abhaya Libre', serif;
  font-weight: 200;
  margin-bottom: 2em;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
  column-gap: 4em;
  margin: 1em 0;

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:last-child {
      text-align: right;
    }
  }
}

.editDelete {
  margin: 1em 0;
  text-align: center;

  > * {
    margin: 5px;
  }
}

.basicInfo {
  position: relative;
  width: 90%;
  text-align: center;
  margin: 1px auto;

  > * {
    margin: 5px;
    text-align: center;
    font-family: 'Pompiere', 'serif';
    font-size: 1.5em;
  }
}

.detailedInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1033px;
  margin: 0 auto;
  margin-bottom: 1em;

  > * {
    flex-basis: calc(20% - 20px);
    margin: 10px 30px;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.modal {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 3px lightgreen;
}

.submitBtn {
  text-align: center;
}
