.hide {
  display: none;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modalShow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 70%;
  padding: 3rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 3px lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start; //????
}

.about {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: rgb(14, 52, 22);
  font-family: 'Abhaya Libre', serif;
}

.image {
  width: 200px;
  height: 200px;
  margin-right: 4em;
  object-fit: contain;
  align-self: center;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
  column-gap: 4em;

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.editDelete {

  > * {
    border: none;
    padding: 0.5rem;
    font-size: 0.6em;

    &:hover {
      box-shadow: none;
    }
  }

  :first-child {
    text-align: right;
  }

  :last-child {
    text-align: left;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
