.user {
  display: flex;
  gap: 1em;
  align-items: center;

  @media (max-width: 923px) {
    gap: 0.5em;
  }

  img {
    @media (max-width: 923px) {
      width: 30px;
      height: 30px;
    }
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: flex-start;
  white-space: nowrap;
}

.dateTimeStyle {
  font-size: 0.8em;
}

.message {
  padding: 0.8em;
  margin: 0.7rem 0;
  border: 2px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.5em;
  background-color: #fff;
  color: rgb(14, 52, 22);
  font-family: 'Abhaya Libre', serif;
  font-size: 1.2rem;
  overflow-y: visible;
  overflow-x: hidden;

  @media (max-width: 923px) {
    font-size: 1rem;
    gap: 1.5em;
  }

  @media (max-width: 485px) {
    font-size: 0.8rem;
  }
}
